{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Santa: Participants</title>
    <link rel="stylesheet" href={% static "css/styles1.css" %}>
</head>
<body>
    <h1>Add Participants</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add</button>
    </form>

    <h2>Participants List</h2>
    <ul>
        {% for participant in participants %}
            <li>{{ participant.name }}</li>
        {% empty %}
            <li>The list is empty, please add participants.</li>
        {% endfor %}
    </ul>

    <div class="actions">
        <a href="{% url 'secret_santa_randomizer' %}">Run Secret Santa</a>
        <a href="{% url 'clear_participants' %}">Clear Participants</a>
    </div>
    <br>
    <a href="{% url 'is_it_christmas' %}">Return to Home</a>
</body>
</html>
